data/
test_data/

# ignore these file extensions globally
*.csv
*.tsv
*.parquet
*.json
*.sqlite
*.db

# python cache
__pycache__/
*.pyc
*.pyo

# jupyter notebook checkpoints
.ipynb_checkpoints/

venv/
.env/
